body {
    background: lightgray;
}

button:hover {
    background-color: lightblue;
    cursor: pointer;
}

#buttons {
    padding-left: 90%;
    background: rgb(68, 68, 68);
}

#Home {
    font-size: 1rem;
    background: darkgray;
    color: rgb(39, 39, 39);
}

#Gods {
    font-size: 1rem;
    background: darkgray;
    color: rgb(39, 39, 39);
}

#godList {
    background: gray;
    padding: 0rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#panHeader {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20%;
}

#Greek {
    background: rgb(39, 39, 39);
    color: darkgray; 
    margin-right: .5rem;
    margin-left: 5rem;
}

#Egyptian {
    background: rgb(39, 39, 39);
    color: darkgray; 
    margin-right: .5rem;
}

#Norse {
    background: rgb(39, 39, 39);
    color: darkgray; 
    margin-right: .5rem;
}

#Aztec {
    background: rgb(39, 39, 39);
    color: darkgray; 
    margin-right: .5rem;
}

#Hawaiian {
    background: rgb(39, 39, 39);
    color: darkgray; 
    margin-right: .5rem;
}

#Hindu {
    background: rgb(39, 39, 39);
    color: darkgray; 
    margin-right: 7rem;
}

#searchInput {
    background: wheat;
}

#searchBtn {
    background: rgb(39, 39, 39);
    color: darkgray; 
}

#create {
    background: rgb(68, 68, 68);
    display: flex;
}

#n {
    color: whitesmoke;
}

#name {
    background: wheat;
    margin-right: .5rem;
}

#g {
    color: whitesmoke;
}

#god-goddess-of {
    background: wheat;
    margin-right: .5rem;
}

#i {
    color: whitesmoke;
}

#info {
    background: wheat;
    margin-right: .5rem;
}

#f {
    color: whitesmoke;
}

#funFacts {
    background: wheat;
    margin-right: .5rem;
}

#p {
    color: whitesmoke;
}

#pantheon {
    background: wheat;
    margin-right: .5rem;
}

#sub {
    background: darkgray;
    color: rgb(39, 39, 39);
}

#topic {
    font-size: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#p1 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

#p2 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center; 
}

.all {
    display: inline-block;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    background: gray;
}

.all p {
    margin: 0;
    text-align: center;
}

#single {
    display: inline-block;
    width: 65%;
    height: 80%;
    margin-left: 25%;
    background: gray;
}

#single p {
    margin: 0;
    text-align: center;
}

#description {
    margin: 0;
    text-align: center;
    background: rgb(95, 91, 91);
    color: whitesmoke;
    width: 50%;
    height: 50%;
    margin-left: 25%;
}

#nam {
    font-size: 3rem;
}